# Generally ignored files
**/.aws/
**/.sam/
**/.yarn/
**/*.log*
**/*.db*
**/*.env
**/.decrypted~*

# Build files
**/node_modules/
**/generated
**/dist/
**/cdk.out/
**/bin/
**/obj/

# IDE files
**/.idea/
**/.vscode/
**/*.DotSettings.user

# Specific files to keep
!.gitkeep
