# Generally ignored files
**/.aws/
**/.sam/
**/.yarn/
**/*.log*
**/*.db*
**/*.env
**/.decrypted~*

# Build files
**/node_modules/
**/generated
**/dist/
**/cdk.out/

# IDE files
**/.idea/
**/.vscode/

# Specific files to keep
!.gitkeep
