---
name: lint

# yamllint disable-line rule:truthy
on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  editorconfig-checker:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Run editorconfig-checker
      uses: editorconfig-checker/action-editorconfig-checker@v2

  yamllint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Run yamllint
      uses: karancode/yamllint-github-action@v3.0.0
      with:
        yamllint_config_filepath: .yamllint.yaml
